@{
    ViewData["Title"] = "Ficha de Primeiro Contato";
    Layout = "_Layout";
}

<img id="logo-empodera" src="~/images/logo-empodera.svg" alt="Logo Empodera">
<h1 id="instituto-text">instituto</h1><h1 id="empodera-text">empodera</h1>