@{
    ViewData["Title"] = "HomePage";
    Layout = "_Layout";
}
<a href="/Home/Comunidades">Comunidades</a>
<img id="logo-empodera" src="~/images/logo-empodera.svg" alt="Logo Empodera">
<h1 id="instituto-text">instituto</h1><h1 id="empodera-text">empodera</h1>